/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.about{
    width: 100%;
    height: 100vh;
    background-color: #191919;
}

.about img{
    height: ;auto
    width: 420px;
}

.about-text{
    justify-content: center;
    margin-top: 40px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h2,h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    width: 50%;
    height: 70px;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}




.footer{
    width: 100%;
    height: 200px;
    background-color: grey;
    margin-top: 4rem;
    border-radius: 20px;
 }
 
 .social-icons{
    list-style: none;
    text-align: center;
    margin: 20px 0px;
 }
 
 .social-icons li{
    display: inline-block;
    padding: 15px;
 }
 
 .social-icons li i{
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all 0.5s;
 }
 
 .social-icons li i:hover{
    background-color: #fff;
    color: #000;
 }
 
 .info-details{
    text-align: center;
    font-size:1.5rem;
 }
 
 .info-details li{
    list-style: none;
    color: #f9004d;
 }
 
 .info-details li a:hover{
    color: #F44770;
 }
 
 .footer .info-details li{
    margin-bottom: 10px;
 }

 .footer .info-details li span{
    color: white;
 }

 @media screen and (max-width:768px)
 {
    .about-text h2,h5{
        color: white;
        font-size: 10px;
        text-transform: capitalize;
        margin-bottom: 25px;
        letter-spacing: 2px;
    }

    .about-text p{
        color: #fcfc;
        letter-spacing: 1px;
        line-height: 15px;
        font-size: 9px;
        margin-bottom: 20px;
    }

    .about-text h1{
        color: white;
        font-size: 40px;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .footer{
        height: 100px;
    }

    .footer .info-details li span{
        font-size: 10px;
     }

     .info-details li a{
        font-size: 10px;
     }
 } */



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
 }

 .section
{
    width: 100%;
    background-color: #ddd;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}

.image-section img{
    width: 100%;
    height:auto;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .button{
    margin-top: 30px;
}

.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: #fff;
}

.content-section .social{
    margin-top: 40px;
}

.content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover{
    color: #3d3d3d;
}

@media screen and(max-width:768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section{
        float: none;
        width: 100%;
    }

    .image-section img{
       width: 100%;
       height: auto;
       display: block;
       margin: auto;
    }

    .content-section .title{
        text-align: center;
        font-size: 19px;
    }

    .content-section .content .button{
        text-align: center;
    }

    .content-section .content .button a{
        padding: 9px 30px;
    }

    .content-section .social{
        text-align: center;
    }
}
